.DS_Store
*.asd
*.scssc
*.sublime-workspace
*.sublime-project

node_modules

TODO.txt
wiki

examples/scratch.html
examples/deps/FileSaver.js
examples/oscilloscope.html
examples/graph.html

test/performance
test/mainTest.js
test/Main.js
test/supports.html
coverage/

build/*

examples/scratch.js
Tone/version.js
Tone/index.js
test/test.js

docs
.vscode
tone.d.ts
