language: node_js
node_js:
  - "4.1"
before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
before_script:
  - cd gulp
  - npm install -g karma
  - npm install -g gulp
  - npm install
script: gulp karma-test