@mixin transitionAndTime($property, $time){
	-webkit-transition: $property $time linear;  
	-moz-transition: $property $time linear;  
	-o-transition: $property $time linear;  
	transition: $property $time linear;  
}

.bar {
	
}

.bar .segment {
	width: 30px;
	height: 6px;
	margin-bottom: 2px;
	opacity: 0;
	@include transitionAndTime(opacity, .016s);
}

.bar .segment.peak {
	background-color: red;
}

.bar .segment.high {
	background-color: orange;
}

.bar .segment.normal {
	background-color: green;
}
