/**
 * GLOBAL
 */
canvas {
  border-radius: 0px !important;
  margin-top: 5px; }

/* FOR MOBILES */
@media (max-width: 320px) {
  #TopBar #Homepage a {
    font-size: 16px !important; }

  #Content {
    font-size: 10px !important;
    max-width: 100% !important; }

  #Content * {
    font-size: 10px !important; } }
body {
  margin: 0px; }

#Explanation {
  font-family: monospace;
  background-color: #D0D0D0;
  padding: 10px;
  color: black;
  font-size: 14px;
  margin: 10px;
  width: calc(100% - 4 * 10px); }

#Explanation a {
  color: black;
  font-family: monospace;
  font-size: 14px; }

/* TOP BAR */
#TopBar {
  background-color: black;
  height: 40px;
  margin: 10px;
  position: relative;
  width: calc(100% - 2 * 10px);
  font-family: monospace; }
  #TopBar #Homepage {
    position: relative;
    float: left;
    margin-left: 20px;
    font-size: 24px;
    line-height: 40px;
    color: white; }
    #TopBar #Homepage a {
      font-size: 24px;
      color: white;
      text-transform: none;
      text-decoration: none;
      margin-left: 0px; }
  #TopBar #Examples {
    left: 50%;
    height: 40px;
    line-height: 40px;
    position: absolute; }
    #TopBar #Examples a {
      position: absolute;
      font-size: 14px;
      left: 50%;
      transform: translate(-50%, 0);
      text-align: center;
      color: white;
      text-transform: none;
      text-decoration: none;
      margin-left: 0px; }
  #TopBar #Meter {
    width: 50px;
    height: calc(100% - 10px);
    position: absolute;
    right: 10px;
    top: 5px; }
    #TopBar #Meter .Level {
      height: 100%;
      position: absolute;
      width: 47%;
      background-color: #59d72e;
      bottom: 0px; }
    #TopBar #Meter #Left {
      left: 0px; }
    #TopBar #Meter #Right {
      right: 0px; }

#MobileStart {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10000;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5); }
  #MobileStart #Button {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: black;
    color: white;
    font-family: monospace;
    border-radius: 3px;
    margin-top: -40px;
    margin-left: -40px;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px; }

#Content {
  font-family: monospace;
  position: relative;
  margin: auto;
  height: auto;
  margin-top: 20px;
  width: 75%;
  min-width: 300px;
  max-width: 640px;
  height: auto;
  /**
   * NX STUFF
   */
  /**
   * THE RACK
   */
  /**
   * GROUP
   */
  /**
   * CODE BLOCK
   */
  /**
   * ENVELOPE
   */
  /**
   * LOADING BAR
   */
  /**
   * METER
   */
  /**
   * DROP DOWN
   */
  /**
   * STEP SEQUENCER
   */ }
  #Content [nx="slider"] {
    width: 100%;
    height: 20px; }
  #Content [nx="range"] {
    width: 100%;
    height: 20px; }
  #Content [nx="toggle"] {
    width: 100%;
    height: 40px; }
  #Content .Rack {
    width: 100%;
    margin-bottom: 10px;
    background-color: #D0D0D0;
    border: 10px solid #D0D0D0;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
    #Content .Rack .Title {
      width: 100%;
      height: 20px;
      line-height: 20px;
      margin: 0px 0 5px;
      background-color: black;
      font-size: 1.2em;
      color: white;
      cursor: pointer;
      text-align: center; }
  #Content .Rack.Collapsible .Title:after {
    content: "\25B2";
    position: absolute;
    right: 5px; }
  #Content .Rack.Collapsible.Expanded .Title:after {
    transform: rotate(-180deg); }
  #Content .Rack.Collapsible {
    overflow: hidden;
    height: 40px; }
  #Content .Rack.Collapsible.Expanded {
    height: auto; }
  #Content .Group {
    width: auto;
    height: auto;
    background-color: inherit;
    border: 1px solid black;
    border-radius: 3px;
    position: relative;
    display: inline-block; }
    #Content .Group #Label {
      height: 10px;
      line-height: 10px;
      background-color: inherit;
      font-size: 10px;
      color: black;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      top: -5px;
      text-align: center; }
  #Content .Code {
    width: 100%;
    font-family: monospace;
    height: auto;
    text-align: left;
    display: inline-block;
    font-size: 14px;
    /*padding: $Margin;*/
    /*line-height: ;*/
    background-color: #F2F2F2; }
  #Content .Envelope {
    height: 120px;
    width: 100px; }
    #Content .Envelope [nx="slider"] {
      width: calc(25% - 11px);
      margin: 5px;
      height: calc(100% - 10px); }
    #Content .Envelope #Labels {
      width: 100%;
      height: 8px;
      margin-top: -4px; }
      #Content .Envelope #Labels .Label {
        text-transform: uppercase;
        width: 25%;
        text-align: center;
        font-size: 8px;
        display: inline-block; }
  #Content .FilterEnvelope {
    width: 160px; }
    #Content .FilterEnvelope [nx="slider"] {
      width: calc(100% / 6 - 11px);
      margin: 5px;
      height: calc(100% - 10px); }
  #Content .LoadingBar {
    width: 100%;
    height: 20px;
    margin: 10px;
    text-align: center;
    border: 1px solid black;
    transition: all 0.4s; }
    #Content .LoadingBar #Loader {
      height: 100%;
      width: 0%;
      background-color: #D0D0D0;
      transition: width 0.2s; }
  #Content .Meter {
    width: 100%;
    height: 20px;
    margin-top: 5px;
    position: relative; }
    #Content .Meter * {
      line-height: 20px;
      text-align: center;
      position: absolute;
      top: 0px;
      height: 100%; }
    #Content .Meter #Label {
      left: 0px;
      width: 60%;
      background-color: white;
      border: 1px solid black;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box; }
    #Content .Meter #Value {
      right: 0px;
      width: 40%;
      background-color: black;
      color: white;
      font-weight: bold; }
    #Content .Meter #Units {
      right: 10px;
      text-align: right;
      color: #D0D0D0; }
  #Content .DropDown {
    position: relative;
    width: 100%;
    height: 35px;
    border: 1px solid black;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-top: 5px; }
    #Content .DropDown * {
      line-height: 35px;
      text-align: center;
      position: absolute;
      top: 0px;
      height: 100%; }
    #Content .DropDown #Label {
      left: 0px;
      width: 60%;
      background-color: white; }
    #Content .DropDown select {
      right: 0px;
      width: 40%;
      line-height: 17.5px;
      text-align: center;
      font-style: monospace;
      border-radius: 0px;
      border: 0px;
      background-color: black;
      color: white; }
  #Content .StepSequencer [nx="matrix"] {
    position: relative;
    width: 100%;
    height: 120px; }

/*# sourceMappingURL=examples.css.map */
