* {
	-webkit-user-select: none; 
	-moz-user-select: none;  
	user-select: none; 
}

textarea {
	-webkit-user-select: text!important; 
	-moz-user-select: text!important
	user-select: text!important
}

#Container {
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	overflow-x: hidden;
}

/* FOR MOBILES */
@media (max-width: 320px) {
	#TopBar  #Homepage a{
		font-size: 16px!important;
	}
	#Content{
		font-size: 10px!important;
		max-width: 100%!important;
	}
}


/* CONTAINER */

#Content {
	font-family: monospace;
	position: relative;
	margin: auto;
	margin-top: 60px;
	margin-bottom: 120px;
	width: 200px;
	height: auto;
	z-index: 0;
}

#Explanation {
	font-family: monospace;
	background-color: black;
	padding: 10px;
	color: white;
	font-size: 14px;
	text-align: left;	
	position: fixed;
	bottom: 10px;
	left: 10px;
	right: 10px;
	z-index: 1;
	overflow: hidden;
}

#Explanation.Collapsed{
	height: 16px;
}

#Explanation a {
	color: white;
	font-family: monospace;
	font-size: 14px;
}

/* TOP BAR */
#TopBar {
	position: fixed;
	background-color: black;
	height: 40px;
	top: 10px;
	left: 0px;
	right: 0px;
	z-index: 3;
}

#TopBar #HomePage {
	position: relative;
	float: left;
	margin-left: 20px;
	font-size: 24px;
	line-height: 40px;
	color: white;
}

#TopBar #HomePage a {
	font-family: monospace;
	font-size: 24px;
	color: white;
	text-transform: none;
	text-decoration: none;
	margin-left: 0px;
}

#TopBar #DropDown {
	position: absolute;
	right: 10px;
	margin-left: -60px;
	top: 5px;
	/*width: 120px;*/
	/*font-size: 12px;*/
}

#TopBar .LevelMeter {
	position: relative;
	float: left;
	margin-left: 20px;
	margin-top: 7px;
	height: 25px;
	width: 20px;
}

#TopBar .LevelMeterChannel #Level{
	background-color: black;
}

/* ENVELOPE */

.Envelope {
	width: 175px;
	height: 140px;
	border: 1px solid black;
}

.Envelope #Title{
	width: 100%;
	height: 30px;
	text-align: center;
}

.Envelope .EnvelopeSlider {
	margin-left: 25px;
	height: 80px;
	float: left;
}

.Envelope .EnvelopeSlider .Label{
	position: absolute;
	font-size: 9px;
	text-align: center;
	width: 30px;
	left: -10px;
}

.Envelope .EnvelopeSlider .Label.Bottom{
	top: 90px;
}

.Envelope .EnvelopeSlider .Label.Top{
	top: -15px;
}

/* START BUTTON */

.StartButton {
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 2;
	opacity: 1;
}

.StartButton button{
	position: absolute;
	height: 100px;
	width: 100px;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
	font-size: 30px;
}

/* VALUE */

.Value {
	width: auto;
	height: 20px;
	border: 1px solid black;
	display: inline-block;
	line-height: 20px;
}

.Value #Label {
	margin-left: 10px;
	margin-right: 5px;
	position: relative;
	float: left;
	height: 100%;
	font-size: 12px;
}

.Value #Value {
	padding-right: 10px;
	padding-left: 10px;
	background-color: #8d8d8d;
	color: white;
	position: relative;
	float: right;
	height: 100%;
	font-size: 12px;
}

/* VALUE METER */

.ValueMeter {
	width: auto;
	height: 20px;
	display: inline-block;
	line-height: 20px;
}

.ValueMeter .Value {
	width: 100%;
	height: 100%;
}

/* LEVEL METER */
.LevelMeter {
	width: 40px;
	height: 100px;
}

.LevelMeterChannel {
	position: absolute;
	top: 0;
	height: 100%;
}

.LevelMeterChannel.Mono {
	width: 100%;
	height: 100%;
	left: 0px;
}

.LevelMeterChannel.Left {
	width: 45%;
	left: 0px;
}
.LevelMeterChannel.Right {
	width: 45%;
	right: 0px;
}

.LevelMeterChannel #Clip{
	position: absolute;
	top: 0;
	height: 5%;
	width: 100%;
	left: 0px;
	background-color: red;
	opacity: 0;
}

.LevelMeterChannel #Background{
	position: absolute;
	width: 100%;
	left: 0px;
	top: 5%;
	height: 95%;
	background: #f75931;
	background: -moz-linear-gradient(top,  #f75931 0%, #efe826 13%, #3fe02a 27%, #3fe02a 64%, #3fe02a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f75931), color-stop(13%,#efe826), color-stop(27%,#3fe02a), color-stop(64%,#3fe02a), color-stop(100%,#3fe02a));
	background: -webkit-linear-gradient(top,  #f75931 0%,#efe826 13%,#3fe02a 27%,#3fe02a 64%,#3fe02a 100%);
	background: -o-linear-gradient(top,  #f75931 0%,#efe826 13%,#3fe02a 27%,#3fe02a 64%,#3fe02a 100%);
	background: -ms-linear-gradient(top,  #f75931 0%,#efe826 13%,#3fe02a 27%,#3fe02a 64%,#3fe02a 100%);
	background: linear-gradient(to bottom,  #f75931 0%,#efe826 13%,#3fe02a 27%,#3fe02a 64%,#3fe02a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f75931', endColorstr='#3fe02a',GradientType=0 );	
}

.LevelMeterChannel #Level {
	position: absolute;
	height: 50%;
	background-color: white;
	top: 0px;
	width: 100%;
	left: 0px;
	/*transition: height 0.1s;*/
}

/* OSCILLATOR */

.Oscillator {
	border: 1px solid black;
	height: 31px;
	width: auto;
}

.Oscillator #Label{
	float: left;
	margin-left: 10px;
	line-height: 31px;
} 

.Oscillator .DropDown .ui-selectmenu-button{
	width: 120px!important;
}

.Oscillator .DropDown {
	position: relative;
	float: right;
	margin-left: 2px;
	width: 120px;
}

/* Slider */
.Slider .Value {
	margin-top: 5px;
	display: block;
}

.Slider .Input {
	display: block;
}

/* DROP DOWN */
.DropDown .ui-selectmenu-button{
	width: 120px!important;
}

.DropDown {
	width: 120px;
}

/* CHECKBOX */

.Checkbox.pressed {
	border: 1px solid black;
	background: white!important;
	color: black;
}